@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-500 {
    animation-delay: 500ms;
  }
}

:root {
  --background: #000000;
  --foreground: #fafafa;
}

html {
  background-color: #000000;
}

body {
  background-color: transparent;
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Prevent text selection and blinking cursor globally */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  caret-color: transparent;
}

/* Ensure inputs don't show outlines/rings that look like cursors */
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@keyframes equalizer {

  0%,
  100% {
    height: 4px;
  }

  50% {
    height: 16px;
  }
}